body {
    margin: 0;
    background-color: oklch(97.015% 0.00011 271.152);
    color: oklch(13.441% 0.00002 271.152);
    font-family: sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3, p {
    margin: 0;
    font-weight: 400;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.sub-heading {
    font-size: 1.5rem;
    margin: 1.5rem 0 0.75rem 0;
}

p {
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}

.underline {
    text-decoration: underline;
}

main {
    padding: 48px;
}

footer {
    padding: 0 48px 12px;
}

.hook-image {
    margin-top: 1rem;
    border: 1px solid oklch(28.502% 0.00003 271.152);
    border-radius: 12px;
    width: 100%;
}

.high-contrast {
    filter: contrast(1.05);
}

.small-img {
    width: 45%;
}

.very-small-img {
    width: 25%;
}

img {
    margin: 0.5rem 0 1rem 0;
    border: 1px solid oklch(28.502% 0.00003 271.152);
    border-radius: 12px;
    width: 65%;
    min-width: 300px;
    max-width: 1200px;
}

.captioned-img {
    margin: 0.5rem 0;
}

.img-caption {
    color: oklch(26.033% 0.00003 271.152);
    font-size: 1rem;
    margin-bottom: 1rem;
}

section {
    margin: 2rem 0;
}

@media (max-width: 48rem) {
    main {
        padding: 24px;
    }

    footer {
        padding: 0 24px 12px;
    }
}

@media (max-width: 30rem) {
    .hook-image {
        border-radius: 8px;
    }
}