:root {
    --bg-default: oklch(97.315% 0.00011 271.152);
    --font-default: oklch(10.668% 0.00001 271.152);
    --font-secondary: oklch(28.502% 0.00003 271.152);
    --text-h1: 2.5rem;
    --text-x-large: 2rem;
    --text-large: 1.5rem;
    --text-default: 1.125rem;
    --text-small: 1rem;
    --text-x-small: 0.925rem;
    --semantic-spacing-x-large: 2rem;
    --semantic-spacing-large: 1.5rem;
    --semantic-spacing-default: 1rem;
    --semantic-spacing-small: 0.75rem;
    --semantic-spacing-x-small: 0.5rem;
    --decorative-spacing-small: 12px;
    --decorative-spacing-default: 24px;
    --decorative-spacing-x-large: 48px;
    --border-radius-small: 8px;
    --border-radius-default: 12px;
}

body {
    margin: 0;
    background-color: var(--bg-default);
    color: var(--font-default);
    font-family: sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3, p {
    margin: 0;
    font-weight: 400;
}

h1 {
    font-size: var(--text-h1);
    margin-bottom: var(--semantic-spacing-x-large);
    text-align: center;
}

h2 {
    font-size: var(--text-x-large);
    margin-bottom: var(--semantic-spacing-large);
}

.sub-heading {
    font-size: var(--text-large);
    margin: var(--semantic-spacing-large) 0 var(--semantic-spacing-small) 0;
}

p {
    font-size: var(--text-default);
    margin-bottom: var(--semantic-spacing-x-small);
}

.underline {
    text-decoration: underline;
}

main {
    padding: var(--decorative-spacing-x-large);
}

footer {
    padding: 0 var(--decorative-spacing-x-large) var(--decorative-spacing-small);
}

.hook-image {
    margin-top: var(--semantic-spacing-default);
    border: 1px solid var(--font-secondary);
    border-radius: var(--border-radius-default);
    width: 100%;
}

.high-contrast {
    filter: contrast(1.05);
}

.small-img {
    width: 45%;
}

.very-small-img {
    width: 25%;
}

img {
    margin: var(--semantic-spacing-x-small) 0 var(--semantic-spacing-default) 0;
    border: 1px solid var(--font-secondary);
    border-radius: var(--border-radius-default);
    width: 65%;
    min-width: 300px;
    max-width: 1200px;
}

.captioned-img {
    margin: var(--semantic-spacing-x-small) 0;
}

.img-caption {
    color: var(--font-secondary);
    font-size: var(--text-default);
    margin-bottom: var(--semantic-spacing-default);
    font-size: var(--text-small);
}

section {
    margin: var(--semantic-spacing-x-large) 0;
}

@media (max-width: 48rem) {
    main {
        padding: var(--decorative-spacing-default);
    }

    footer {
        padding: 0 var(--decorative-spacing-default) var(--decorative-spacing-small);
    }
}

@media (max-width: 30rem) {
    .hook-image {
        border-radius: var(--border-radius-small);
    }
}